README.md
bin/bootstrap.sh

{{- if eq .chezmoi.os "linux" }}
# Linux - conditionally ignore based on features
    {{- if not .enableHyprland }}
# Hyprland configs (disabled)
.config/hypr/
.config/rofi/
.config/waybar/
.local/bin/hdr-brightness.sh
    {{- end }}
.ssh

{{- else if eq .chezmoi.os "darwin" }}
# macOS - ignore Linux/Windows specific stuff
.config/hypr/
.config/rofi/
.config/waybar/
.local/bin/hdr-brightness.sh
.local/share/applications/losslesscut.desktop
.local/share/icons/losslesscut.png
.ssh
AppData
winget-packages.json

{{- else if eq .chezmoi.os "windows" }}
# Windows - ignore Linux/macOS specific stuff
.config/btop
.config/kitty
.config/lazygit
.config/television
.config/yazi
.config/hypr/
.config/rofi/
.config/waybar/
.local/bin/hdr-brightness.sh
.local/share/applications/losslesscut.desktop
.local/share/icons/losslesscut.png
.ssh
Library
    {{- if not .enableAudio }}
# Audio production tools (disabled)
AppData/Roaming/REAPER
    {{- end }}

{{- end }}