README.md
{{- if ne .chezmoi.os "linux" }}
.config/hypr/
.config/rofi
.config/waybar/
.local/bin/hdr-brightness.sh
.local/share/applications/losslesscut.desktop
.local/share/icons/losslesscut.png
{{- else if ne .chezmoi.os "darwin" }}
Library
{{- end }}

bin/bootstrap.sh