README.md
bin/bootstrap.sh
init.nu

{{- if ne .chezmoi.os "windows" }}
AppData
winget-packages.json
{{- end }}

{{- if not .enableSSH }}
.ssh
{{- end }}

{{- if not .enableHyprland }}
.config/hypr/
.config/rofi/
.config/waybar/
.local/bin/hdr-brightness.sh
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.local/share/applications/losslesscut.desktop
.local/share/icons/losslesscut.png
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
Library
{{- end }}

{{- if and (ne .chezmoi.os "linux") (ne .chezmoi.os "darwin") }}
# Windows - ignore Linux/macOS specific stuff
.config/btop
.config/kitty
.config/lazygit
.config/television
.config/yazi
    {{- if not .enableAudio }}
# Audio production tools (disabled)
AppData/Roaming/REAPER
    {{- end }}

{{- end }}