{{- $enableSSH := false -}}

{{- if stdinIsATTY -}}
{{-   $enableSSH = promptBool "enable SSH key management" false -}}
{{- else -}}
{{-   if stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt") -}}
{{-     $enableSSH = true -}}
{{-   end -}}
{{- end -}}

{{- if $enableSSH }}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1jgdmn8ew7d4hghkpk4r7m59czlq94v9rdj5w9dch0y0cpwx0kf8qehjrct"
{{- end }}

[data]
    {{- if stdinIsATTY }}
    {{-   if eq .chezmoi.os "linux" }}
    enableHyprland = {{ promptBool "install hyprland window manager configs" false }}
    {{-   else }}
    enableHyprland = false
    {{-   end }}
    enableAudio = {{ promptBool "enable audio production tools" false }}
    enableGaming = {{ promptBool "enable gaming tools" false }}
    {{- else }}
    enableHyprland = false
    enableAudio = false
    enableGaming = false
    {{- end }}
    enableSSH = {{ $enableSSH }}