# Common packages
brew "neovim"
brew "zoxide"
brew "bat"
brew "starship"
brew "btop"
brew "television"
brew "fd"

{{ if eq .chezmoi.os "linux" -}}
# Linux-specific packages

{{ else if eq .chezmoi.os "darwin" -}}
# macOS-specific packages

{{ end -}}
