# Common packages
brew "neovim"
brew "zoxide"
brew "bat"
brew "starship"
brew "btop"
brew "television"
brew "fd"
brew "lazygit"
brew "gh"
brew "yazi"
brew "ripgrep"
brew "carapace"

{{ if eq .chezmoi.os "linux" -}}
# Linux-specific packages
brew "yt-dlp"

flatpak "app.zen_browser.zen", args: { system: true }

{{ else if eq .chezmoi.os "darwin" -}}
# macOS-specific packages

{{ end -}}
