#!/bin/sh
set -e

# Package list
COMMON_PACKAGES="
neovim
zoxide
fzf
bat
nushell
starship
btop
"

# Install common packages
brew install $COMMON_PACKAGES

# Change shell to nushell
NU_PATH="$(brew --prefix nushell)/bin/nu"
if ! [ "$SHELL" = "$NU_PATH" ]; then
  chsh $USER -s $NU_PATH
fi

mkdir ~/.cache/starship
starship init nu | save -f ~/.cache/starship/init.nu
zoxide init nushell --cmd cd | save -f ~/.zoxide.nu

{{ if eq .chezmoi.os "linux" -}}
# Install Linux-specific packages
{{ else if eq .chezmoi.os "darwin" -}}
# Install macOS-specific packages
{{ end -}}
