{{ if and (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) .enableSSH -}}
#!/bin/sh
KEY_FILE="$HOME/.config/chezmoi/key.txt"

if [ ! -f "$KEY_FILE" ]; then
    mkdir -p "$(dirname "$KEY_FILE")"
    nu --no-config-file "{{ .chezmoi.sourceDir }}/scripts/get-age-key.nu" "$KEY_FILE"
fi
{{ end -}}