{{ if eq .chezmoi.os "windows" }}
@echo off

where nu >nul 2>&1
if errorlevel 1 (
    echo "Error: nushell (nu) is not installed or not in PATH >&2"
    exit /b 1
)

nu "%CHEZMOI_SOURCE_DIR%\init.nu"
{{ end -}}