#window {
    font-family: 'Open Sans', sans-serif;
}

#workspaces button {
    background-color: transparent;
    color: @foreground;
}

#workspaces button:hover {
    background: @current_line;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @purple;
    color: @background;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @selection;
    color: @pink;
}

window#waybar:not(.bottom):not(.left):not(.right) #mode {
    box-shadow: inset 0 -2px;
}

window#waybar.bottom #mode {
    box-shadow: inset 0 2px;
}

#image {
    margin: 0;
    padding: 0 10px;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
    color: @inactive_module_color;
}

#tray {
    padding: 0 5px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

@keyframes needs-attention {
    to {
        background-color: rgba(255, 85, 85, 0.5);
    }
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    animation-name: needs-attention;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: transparent;
}

#idle_inhibitor {
    color: @inactive_module_color;
}

#idle_inhibitor.activated {
    color: inherit;
}

#mpd.disconnected,
#mpd.paused,
#mpd.stopped {
    color: @inactive_module_color;
}

#cpu.high,
#temperature.critical {
    color: @red;
}

#language {
    min-width: 16px;
}

#keyboard-state {
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: @current_line;
}

#scratchpad {
    background: @current_line;
}

#scratchpad.empty {
    background-color: transparent;
}