[Desktop Entry]
Name=LosslessCut
Comment=Lossless video trimmer
# Using executable path managed by chezmoi
Exec={{ .chezmoi.homeDir }}/.local/bin/losslesscut --ozone-platform-hint=auto
Icon={{ .chezmoi.homeDir }}/.local/share/icons/losslesscut.png
Terminal=false
Type=Application
Categories=Video;AudioVideo;Editing;