* {
	background-image: none;
	box-shadow: none;

	font-family: 'Cascadia Code', sans-serif;
}

window {
	/* background-color: rgba(40, 42, 54, 0.95); */
	background-color: rgba(40, 42, 54, 0.05);
}

button {
	border-radius: 0;
	border-color: #44475a;
	text-decoration-color: #f8f8f2;
	color: #f8f8f2;
	/* background-color: #44475a; */
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 16px;
}

button:focus,
button:active,
button:hover {
	/* background-color: #bd93f9; */
	border-color: #bd93f9;
	outline-style: none;
}

#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}